<h3>Changing beer for tap <%= @menu_item.tap_number %></h3>
<div class="well col-md-8">
  <%= form_for @menu_item do |f| %> 
    <div class="control-group">
      <%= label_tag "Brewery" %>
      <%= select("brewery", "brewery_id", Brewery.all.collect { |b| [b.name, b.id] })%> 
    </div> 
    <br/>
    <div class="control-group">
      <%= f.label "Beer" %>
      <%= f.collection_select :beer_id, Beer.order(:name), :id, :name, { prompt: true } %> 
    </div>  
    <br/>
    <h4>Servings:</h4>
    <%= f.fields_for :servings, @menu_item.servings_for_form do |serving| %>
      <div class="control-group">
        <%= serving.label "Size" %> 
        <%= serving.select(:size, [ ['12oz. Draft', '12oz. Draft'], ['16oz. Draft', '16oz. Draft'] ], {include_blank: true}, {class: "col-md-2"}) %>
        <%= serving.label "Price" %> 
        <%= serving.text_field :price %>
      </div> 
    <% end %>   
    <br/>
      <%= f.submit "Update Tap", class: "btn btn-primary" %>  
  <% end %>  
</div>  